

// Body Styles 
body,
html, 
.body {
  background: #ffffff !important; 
}


.logo {
  th {
    padding-top: 10px !important;
  }
  
  .logo__img {
    max-width: 210px;
  }
}

.intro {
  .intro__account {
    margin-top: 20px ;
    margin-bottom: 25px;

    .intro__login {
      @include link;
    }
  }

  .intro__button {
    @include button;
  }

  .intro__divider {
    @include divider;
    margin-top: 40px;
  }
}