

// Body Styles 
body,
html, 
.body {
  background: #ffffff !important; 
}


.logo {
  th {
    padding-top: 10px !important;
  }
  
  .logo__img {
    max-width: 210px;
  }
}

.intro {
  .intro__account {
    margin-top: 20px ;
    margin-bottom: 25px;

    .intro__login {
      @include link;
    }
  }

  .intro__button {
    @include button;
  }

  .intro__divider {
    @include divider;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.offering__heading {
  background: #555555;
  th {
    padding: 5px;
  }
  

  .offering__heading-text {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
  }
}
.offering__company {

  th {
    line-height: 1.6;
  }

  .offering__company-logo {
 
    .offering__company-logo-img {
      max-width: 200px;
      margin-top: 100px;
    }
  }

  .offering__company-info {
    .summary {
      margin-top: 20px ;
    }
    .highlights {
    text-transform: capitalize;
    font-weight: 700;
    text-decoration: underline;
    }
  
  }

}

.offering__bottom {
  margin-top: 25px;

  .button {
    @include button;
  }

  .divider {
    @include divider;
    margin-top: 30px;
  }
}

.login {
  margin-top: 12px;

  .login__text {
    margin-bottom: 20px;
    .login__login {
      @include link;
    }
  }
  

  .login__button {
    @include button;
    margin-top: 20px;
  }
  .login__divider {
    @include divider;
    margin-top: 35px;
  }
}

.app {

  th {
    padding-bottom: 0 !important;
  }

  .app__icon {
    max-width: 116px;
  }

  .app__info {
    margin-bottom: 5px;
  }

  .app__download {
    margin-bottom: 30px;
  }

  .app__button {
    @include button;
  }

  .app__divider {
    @include divider;
    margin-top: 25px;
    margin-bottom: 0;
  }
}


.footer {
  background: #fafafa !important;
  

  .social {
    margin-top: 30px !important;
 
    .social__link {
      display: inline-block;
      margin-right: 7px;
      width: 32px;
      height: 32px;
    } 
}

.social__divider {
  @include divider;
  
}

.footer__buttom {
  
  .footer__buttom-copyright{
    @include footer-text;
    font-style: italic;
  }
  .footer__bottom-info {
    @include footer-text;

    .link {
      text-decoration: underline;
    }
  } 
}


.footer__text {
  @include footer-text;
  .footer__link {
    @include link;
  }
  
}

}