
<!-- Start of Social Links Section -->
<container class="footer">
    <row class="social">
      <columns small="3" large="4"></columns>
      <columns class="social__links" small="6" large="4">
            <span>
              <a href="#">
                <img src="https://i.imgur.com/dSLvtei.png" alt="twitter" class="social__link">
              </a>
            </span>
            <span>
              <a href="#">
                <img src="https://i.imgur.com/bKNJ2Xy.png" alt="facebook" class="social__link ">
              </a>
            </span>
            <span>
              <a href="#">
                <img src="https://i.imgur.com/JKHDnLO.png" alt="linkedin" class="social__link">
              </a>
            </span>
            <span>
              <a href="#">
                <img src="https://i.imgur.com/mFbjBQm.png" alt="microventures" class="social__link">
              </a>
            </span>
      
        
      </columns>
      <columns small="3" large="4"></columns>
    </row>

    <row>
      <columns>
        <hr class="social__divider">
      </columns>
    </row>
    

    <row class="footer__buttom">
        <columns >
            <p class="footer__buttom-copyright text-center">Copyright © 2021 MicroVenture Marketplace, Inc., All rights reserved.</p>
            <p class="footer__bottom-info" >Securities offered through MicroVenture Marketplace, Inc. Member FINRA/SIPC insured (<span ><a href="#" class="link">www.FINRA.org</a></span>): Investments May Lose Value - No Guarantees - Securities and Investments are not FDIC Insured - MicroVenture Marketplace, Inc. does not offer legal or tax advice.</p>
            <p class="footer__bottom-info">This email is being circulated on a confidential basis to a limited number of sophisticated investors who demonstrate a high level of financial sophistication and ability to accept risk, and is solely for purposes of discussion to assist them in determining whether they have a preliminary interest in the investment opportunity described herein. This email does not constitute an offer to sell or the solicitation of an offer to purchase interests in the investment described herein. Such offer or solicitation will only be made by means of a formal offering memorandum (the "Memorandum") and other definitive documentation.</p>
            <p class="footer__bottom-info">Offers and sales of any membership interests will not be registered under the laws of any jurisdiction and will be made solely to qualified investors under all applicable laws. The membership interests have not been approved or disapproved by the U.S. Securities and Exchange Commission ("SEC") or by the securities regulatory authority of any state or other jurisdiction, and neither the SEC nor any such authority has passed upon the accuracy or adequacy of this email nor is it intended that the SEC or any such authority will do so. The membership interests have not been and will not be registered under the Securities Act of 1933. Any representation to the contrary is a criminal offense. The Company will not be registered under the Investment Company Act of 1940.</p>
            <p class="footer__bottom-info">Confidentiality Notice: This email transmission, including any documents accompanying it, may contain confidential information belonging to the sender which is protected by privilege. The information is intended only for the use of the individual or entity named above. If you are not the intended recipient, you are notified that any disclosure, copying, distribution or the taking of any action in reliance on the contents of this information is strictly prohibited. If you have received this transmission in error, please immediately notify us by telephone at 800.283.9903 to arrange for a return of the documents.</p>
        </columns>
    </row>

    <row>
        
        <columns>
           <p class="footer__text text-center">
               <span>
                <a href="#" class="footer__link">
                    Click here to unsubscribe
                </a>
               </span>
               or
               <span>
                <a href="#" class="footer__link">
                    here to manage preferences.
                </a>
            </span>
           </p>

        </columns>
    </row>
  </container>
  <!-- End of Social Links Section -->
  